_test 
.idea
node_modules
*.iml
.DS_Store

*/node_modules
fixtures/.git
fixtures/.gitignore
#utility file
src/playground.ts

*.report.txt
*.report.js.txt

out/*
Data/*.out

test/*.js

#for new tree walking tests... not testing data

dev_util_data
dev_util_data/*

redirect
redirect/*
repos-test
repos-test/*
repos-test/**/*

coverage
coverage/**/*

#root
./index.js
./cjs-transform.js
*.js.map
./*.js
./*.js.map

.nyc_output
#src
src/**/*.js
src/**/*.js.map

#test dirs
test/*.js
test/*.js.map
test/tests/*.js
test/tests/*.js.map
test/test_resources

/redirect/
/cjs-transform.js
/index.js
